body{
    font-family: mooli;
}
.icon{
    position: relative;
    background-color: rgb(219, 230, 255);
    width: 60px;
    top: -30px;
    border-radius:100px ;
    margin: 0 auto;
    
    
}
.details{
    position: relative;
    top: -15px;
    
}